.button{
    width: 100px;
    height: 30px;
    background-color: rgb(55, 140, 238);
    border: none;
    border-radius: 5px;
    font-family: Roboto;
    color: white;
}

.button:hover{
    background-color: rgb(31, 99, 177);
    cursor: pointer;
}

.button_warning{
    background-color: rgb(238, 55, 55);
}

.button_warning:hover{
    background-color: rgb(168, 38, 38);
}