.add_task{
    display: flex;
    gap: 15px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

.add_task:hover{
    cursor: pointer;
    background-color: #f1f1f1;
}

.add_icon{
    width: 40px;
    height: 40px;
    color: aqua;
}