.response{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(74, 190, 74);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    color: white;
}

.response p, .error_response p{
    margin: 0px;
}

.error_response{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(214, 32, 32);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    color: white;
}