@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

.todo-container{
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 10px;
  padding: 3px;
  box-sizing: border-box;
  margin-right: 20px;
}

.task-list{
  flex: 6;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home_wrapper{
  display: flex;
  height: 100vh;
}

.overlay{
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.116);
  
}

.login-container{
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container{
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrapper{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.logo{
  width: 50%;
}

.buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}


@media only screen and (max-width: 750px) {
  .login-wrapper{
    flex-direction: column;
    gap: 10px;
  }

  .login-container{
    flex: 1;

  }
  
  .logo{
    width: 80%;
  }

  .img-container{
    flex: 1;
  }

  .login-container{
    width: 80%;
  }
}